.faq-link{
    text-decoration: none;
    color: #000;
    padding: 10px;
    cursor: pointer;
  
    font: larger italic ;
}
.faq-link:hover, .faq-link:active{
    font-weight: bold;
}
#collapse-text{
    padding: 0 0 10px 10px;    
    width: 70%;
}