    .button:hover{
        font-weight: 600;
        box-shadow: 2px 2px 3px #5bc0de; 
    }
    .button:active{
        background-color: #5bc0de;
        color: white;
    }
   

.card-div{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}